

<div class="">
    <div class="row">
  <div class="col-8">
    <h1>Esta es la sección about</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
  </div>
  <div class="col-4">
    Hola mundo
    <img class="img-thumbnail" src="/assets/img/yo.jpg" alt="">
  </div>
</div>
</div>